.homepage-child {
  position: relative;
  display: none;
}
.homepage-child {
  width: 1576px;
  height: 916px;
  border-radius: 8px;
  background-color: #fff;
  max-width: 100%;
}
.homepage,
.inspected-by-group {
  border-radius: 8px;
  display: flex;
  box-sizing: border-box;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 32px 32px 65px 30px;
  gap: 12px;
  line-height: normal;
  letter-spacing: normal;
}
.frame-child23,
.frame-child24,
.frame-group {
  border: 1px solid #7e829b;
  box-sizing: border-box;
}

/* header button */
.header-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}
.header-button form {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: 1px solid grey;
  padding: 4px 10px;
  border-radius: 5px;
}
.header-button input[type="search"] {
  border: 2px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  color: var(--text-default);
  background: transparent;
}
.header-button i.fa-search {
  margin-left: 5px;
  color: grey;
  cursor: pointer;
  color: grey;
}
.frame-child23 {
  align-self: stretch;
  height: 399px;
  position: relative;
  border-radius: 9px;
  display: none;
}
.frame-child24,
.frame-group {
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 24px;
  gap: var(--gap-6xs);
  z-index: 5;
  text-align: left;
  font-size: 16px;
  color: #2f415e;
  font-family: Public Sans;
}

/* inspected by group */
.inspected-by-group {
  align-self: stretch;
  border: 1px solid #7e829b;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 18px 21px 18px
    19px;
  max-width: 100%;
  gap: 20px;
  z-index: 1;
  text-align: left;
  font-size: 16px;
  color: #2f415e;
  font-family: Public Sans;
}

/* follow up button */
.follow-up {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 72px;
  z-index: 3;
}
.follow-up-button {
  border-radius: 5px;
  background-color: #19B7A2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  padding: 10px 14px;
  white-space: nowrap;
  z-index: 2;
  transition: background-color 0.3s;
}
.follow-up-button:hover {
  background-color: #10917f;
}

/* collapse button */
.collapse-on-button {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.collapse-on-button:hover {
  background-color: #2F415E;
  transform: scale(1.0);
}
.collapse-on-button i {
  color: #2F415E;
  transition: transform 0.3s;
}
.collapse-on-button:hover i {
  color: white;
}

/* collapse button */
.collapse-button {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: rotate(180deg);
}
.collapse-button i {
  color: #2F415E;
  transition: transform 0.3s;
}
.collapse-button:hover {
  background-color: #2F415E;
}
.collapse-button:hover i {
  color: white;
}

/* action buttons */
.action-buttons {
  display: flex;
  gap: 2px;
}
.action-buttons div {
  width: 24px;
  height: 24px;
  color: #6A6774;
  display: flex;
  padding: 7px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}
.action-buttons div:hover {
  background-color: #f0f0f0;
  border-radius: 50%;
}
.frame-section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 18px 21px 18px
    19px;
  gap: 20px;
  z-index: 1;
  text-align: left;
  font-size: 16px;
  color: #2f415e;
  font-family: Public Sans;
}
.inspected-by {
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.inspected-by,
.inspector-name {
  line-height: 20px;
  z-index: 2;
}
.inspector-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 9px;
}
.frame-parent11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  color: #fff;
  font-family: Averta;
}

/* review buttons */
.review-buttons {
  align-items: flex-start;
  gap: 10px;
  min-width: 481px;
  font-size: 13px;
  color: #ff9f43;
}
.frame-parent9 {
  width: 1027px;
  align-items: flex-end;
  gap: 44px;
}
.button-name {
  font-weight: 500;
}
.review-buttons,
.frame-parent9,
.trash-review-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* completed button */
.completed-button {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 88px;
  z-index: 3;
}
.completed-group {
  border-radius: 5px;
  background-color: #fff5eb;
  border: 1px solid #28c76f;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 25px;
  white-space: nowrap;
  z-index: 2;
  color: #28c76f;
}

/* need to send button */
.need-to-send-button {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 112px;
  z-index: 3;
}
.need-to-send-button-group {
  border-radius: 5px;
  background-color: #ffebeb;
  border: 1px solid #ff4c51;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 13px 11px;
  white-space: nowrap;
  z-index: 2;
  color: #ff4c51;
}

/* need to send button active */
.need-to-send-button-group-active {
  border-radius: 5px;
  background-color: #FF4C51;
  border: 1px solid #ff4c51;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 13px 11px;
  white-space: nowrap;
  z-index: 2;
  color: #ff4c51;
}
.need-to-send-button-group-active .button-name,
.need-to-send-button-group-active b {
  color: #fff;
}

/* first follow up button */
.first-follow-up-group {
  border-radius: 5px;
  background-color: #fff5eb;
  border: 1px solid #ff9f43;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 17px 10px
    18px;
  white-space: nowrap;
  z-index: 2;
}

/* second follow up button */
.second-follow-up-group {
  border-radius: 5px;
  background-color: #fff5eb;
  border: 1px solid #ff9f43;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 14px 10px 15px;
  white-space: nowrap;
  z-index: 2;
}

/* trash review button */
.trash-review-group {
  border-radius: 5px;
  background-color: #f3f3f3;
  border: 1px solid #858585;
  align-items: flex-start;
  cursor: pointer;
  padding: 10px 18px 10px 19px;
  white-space: nowrap;
  z-index: 2;
  color: #858585;
}


.rectangle-container {
  flex: 1;
  border-radius: 8px 8px 0 0;
  background-color: #d4fff9;
  justify-content: space-between;
  padding: 8px 19px 8px 21px;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #2f415e;
  font-family: Public Sans;
}
.rectangle-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 12px;
  top: 0;
  z-index: 99;
  position: sticky;
  box-sizing: border-box;
  max-width: 100%;
}
.data-table {
  margin-top: -35px;
  width: 100%;
  overflow-x: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}
table th,
table td {
  padding: 12px 15px;
}
table tr {
  border-bottom: 1px solid rgb(230, 230, 230);
}
table input[type="checkbox"] {
  transform: scale(1.5);
}
button {
  padding: 8px 12px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
td .status-need-to-send {
  padding: 5px 10px;
  color: #FF4C51;
  border-radius: 6px;
  display: inline-block;
  background-color: #FFEBEB;
}
